In [1]:
## We wanted to look at COVID-19 case data by county and compare it to vaccination rollout

In [26]:
import pandas as pd
from sqlalchemy import create_engine
from config import username
from config import password
from config import host_number

In [3]:
#Cases by zip code
# https://www.azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/covid-19/dashboards/index.php
csv_file = "Resources/casesbyzip.csv"
cases_data_df = pd.read_csv(csv_file)
#cases_data_df.head()

In [32]:
#Cleaning Round 1

cases_data_df = cases_data_df.rename(columns = {"POSTCODE": "Zip_Code", "ConfirmedCaseCount":"Confirmed_Cases"})

#cases_data_df

In [5]:
#Cleaning Round 2

cases_data_df[["Zip Code", "Tribal"]] = cases_data_df.Zip_Code.str.split(" ",expand=True)
cases_data_clean = cases_data_df[['Zip Code', 'Tribal', 'Confirmed_Cases']]

#Looked at Tribal data and since all Tribal data is suppressed, we are getting rid of it 
cases_data_clean.sort_values(by=["Tribal"], inplace=True,ascending=False)
#cases_data_clean.head(50)

<ipython-input-5-c6bc660aad16>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases_data_clean.sort_values(by=["Tribal"], inplace=True,ascending=False)

In [16]:
cases_data = cases_data_clean[cases_data_clean.Confirmed_Cases != "Data Suppressed"]
cases_data = cases_data[['Zip Code', 'Confirmed_Cases']]
cases_data
#cases_data.sort_values(by=["Confirmed_Cases"], inplace=True)
#cases_data.head(50)

    Zip Code Confirmed_Cases
0      85003            1440
1      85004             936
2      85006            3217
3      85007            2354
4      85008            8902
..       ...             ...
397    86505             113
399    86507               0
402    86511            1-10
404    86514               0
406    86515               0

[377 rows x 2 columns]

In [7]:
# County population
# https://data.ers.usda.gov/reports.aspx?ID=17827
csv_file = "Resources/countypopulation.csv"
county_data_df = pd.read_csv(csv_file)
#county_data_df.head()

In [21]:
# Cleaning Round 1
county_data_df = county_data_df.rename(columns = {"County name": "County"})
county_data_df = county_data_df[['County', "Pop. 2019"]]
#county_data_df

In [20]:
#Cleaning Round 2

county_data = county_data_df.dropna(how='all')
county_data

               County  Pop. 2019
0             Arizona  7,278,717
1       Apache County     71,887
2      Cochise County    125,922
3     Coconino County    143,476
4         Gila County     54,018
5       Graham County     38,837
6     Greenlee County      9,498
7       La Paz County     21,108
8     Maricopa County  4,485,414
9       Mohave County    212,181
10      Navajo County    110,924
11        Pima County  1,047,279
12       Pinal County    462,789
13  Santa Cruz County     46,498
14     Yavapai County    235,099
15        Yuma County    213,787

In [9]:
# Vaccination by zip
# https://www.azfamily.com/news/continuing_coverage/coronavirus_coverage/vaccine_headquarters/adhs-adds-map-showing-number-of-covid-19-vaccines-administered-in-each-zip-code/article_af4c16da-79ed-11eb-b3b7-73d01df565d5.html
csv_file = "Resources/vaccinationbyzip.csv"
vaccination_data_df = pd.read_csv(csv_file)
#vaccination_data_df.head()

In [25]:
#Cleaning Round 1
vaccination_data_df = vaccination_data_df.rename(columns = {"tribal_status":"Tribal","POSTCODE":"Zip Code","NumberOfPeopleVaccinated":"Total Vaccinated"})
vaccination_data_df = vaccination_data_df[['Tribal','Zip Code', 'Total Vaccinated']]
#vaccination_data_df

In [24]:
#Cleaning Round 2
vaccination_data = vaccination_data_df[vaccination_data_df.Tribal != "Tribal"]
vaccination_data = vaccination_data[["Zip Code", "Total Vaccinated"]]
vaccination_data

    Zip Code Total Vaccinated
0      85003             2402
1      85004             1734
2      85006             2820
3      85007             2026
4      85008             5175
..       ...              ...
372    86505               47
373    86507                0
374    86511                0
375    86514                0
376    86515                0

[377 rows x 2 columns]

In [11]:
#zipcode county lookup table
# https://www.unitedstateszipcodes.org/zip-code-database/
csv_file = "Resources/zipcodecounty.csv"
zipcode_df = pd.read_csv(csv_file)
#zipcode_df.head()

In [12]:
#Cleaning data round 1
zipcode_df = zipcode_df.rename(columns = {"zip":"Zip Code","county":"County"})
zipcode_df = zipcode_df[["Zip Code", "County"]]
zipcode_df

     Zip Code           County
0       85001  Maricopa County
1       85002  Maricopa County
2       85003  Maricopa County
3       85004  Maricopa County
4       85005  Maricopa County
..        ...              ...
563     86544    Apache County
564     86545    Apache County
565     86547    Apache County
566     86555   Cochise County
567     86556    Apache County

[568 rows x 2 columns]

In [30]:
#rds_connection_string = "username:password@localhost:5432/azcovid_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')

data_path = f'postgresql://postgres:{password}@localhost/azcovid_db'
engine = create_engine(data_path)
conn = engine.connect()

In [31]:
engine.table_names()

[]

In [33]:
# move tables to postgres
cases_data.to_sql(name='zipcode_cases', con=engine, if_exists='append', index=False)

In [34]:
county_data.to_sql(name='county_population', con=engine, if_exists='append', index=False)

In [35]:
vaccination_data.to_sql(name='zipcode_vaccination', con=engine, if_exists='append', index=False)

In [36]:
zipcode_df.to_sql(name='zipcode_county', con=engine, if_exists='append', index=False)